<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIooTD8mo1WJPzbWLYA8vhssVAaaI1pjk</string>
	<key>GCM_SENDER_ID</key>
	<string>538190342264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domain.badesa</string>
	<key>PROJECT_ID</key>
	<string>badesa-23ce2</string>
	<key>STORAGE_BUCKET</key>
	<string>badesa-23ce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538190342264:ios:17f820898e96564e4e258d</string>
</dict>
</plist>